---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div style="height: 50%; background: #5C0A00; position: relative; display: flex; justify-content: center; align-items: center">

		<img src='./hippo.png' alt="logo" style="height: 120px; position: absolute; top: 10px"/>

		<h1 style="color: #f0f0f0;">
			CAIXA ABERTO
		</h1>

		<div style="position: absolute; bottom: -45px; display: flex; justify-content: center; width: 100%">
			<a href="/pesar" class="button" style="font-size: 24px; padding: 5px 40px; justify-content: space-between">
				<i class="fa-regular fa-hand-pointer" style="margin-right: 30px; font-size: 40px"></i>
				TOQUE <br/> PARA <br/> INICIAR
			</a>
		</div>
	</div>
	<img src="./prateleira2.webp" style="height: 50%; width: 100%;"/>
</Layout>

